body{
    font-family: 'Inter', sans-serif;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #222;
}
.canvas-wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 

    /* background-image: linear-gradient(to bottom, #1b1b1b, #222);
   */
    border-bottom:white solid 1px;
    z-index: 10;
    top: 0px;
    height: 50px;
    width: 100%;
    opacity: 10%;

  }

  .navbar :hover {
    opacity: 100%;
    cursor: pointer;
  }
  .navbar > h1 {
    font-weight: 900;
    color:white;
    margin-top: auto;
    margin-bottom: auto;
  
    
  }

  .buttons {
    position: flex-end;
    right:10px;
  }

  .navbar > .githublogo{
    position: absolute;
    right: 10px;

    max-width: 32px;
    max-height: 32px;
    margin-top: auto;
    margin-bottom: auto;
 
  }


  #menu {
    display: block;
    background-color: rgb(43, 42, 42);
    padding: 10px 0px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.18);
    position: absolute;
    transform-origin: center;
    z-index: 2;
    opacity: 0;
    transform: scale(0);
    transition: transform 0.2s, opacity 0.2s;
  }
  
  #menu.show {
    opacity: 1;
    transform: scale(1);
    transform-origin: top left;
  }
  
  .menu-item {
    display: block;
    padding: 10px 30px;
    transition: 0.1s;
    color: white;
  }
  
  .menu-item:hover {
    background-color: #111;
    cursor: pointer;
  }
  
.navbar > h1 > sup {
  font-weight: 600;
  font-size: x-small;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: rgb(41, 41, 41);
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.18);
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}